<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>말하기 전에 생각했나요?</title>
    <link rel="stylesheet" href="../static/board.css" />
</head>
<body>
    <div class="page">
        <div class="leftBox">
            <div class="titleBox">
                <h1>참견 게시판</h1>
            </div>
            <div class="writeNewBox">
                <p>새 글을 작성해주세요!</p>
                <a href="#" class="writeButton"><p class="wrBtn">글쓰기</p></a>
            </div>
            <div class="mainBox">
                <div class="postBoxDiv">
                    <a href="detail.html" class="postBox">
                        <p class="postTitle">게시물 제목 어쩌구</p>
                        <p class="postContent">내용 어쩌구저쩌구.............</p>
                    </a>
                </div>
                <div class="postBoxDiv">
                    <a href="#" class="postBox">
                        <p class="postTitle">게시물 제목 어쩌구</p>
                        <p class="postContent">내용 어쩌구저쩌구.............</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="rightBox">
            <div class="rightTitleBox">
                <p>실시간 인기 참견</p>
            </div>
            <div class="rightPostBox">
                <div class="postBoxDiv">
                    <a href="#" class="postBox">
                        <p class="postTitle">게시물 제목 어쩌구</p>
                        <p class="postContent">내용 어쩌구저쩌구.............</p>
                    </a>
                </div>
                <div class="postBoxDiv">
                    <a href="#" class="postBox">
                        <p class="postTitle">게시물 제목 어쩌구</p>
                        <p class="postContent">내용 어쩌구저쩌구.............</p>
                    </a>
                </div>
              
     
            </div>
        </div>
    </div>
</body>
</html>